# Site name, a domain name.
SITE_NAME = {{ site.name}}
# Optional description of the site
SITE_DESC = {{ site.description }}
# Optional web address in full URL format. E.g.: 
# http://www.cern.ch/gridinfo
SITE_WEB = {{ site.web }}
# New optional GLUE 2.0 parameter to identify if the site is 
# geographically distributed
# true or false
SITE_DISTRIBUTED = {{ site.distributed }}
# Location of the site
SITE_LOC = {{ site.location }}
SITE_COUNTRY =  {{ site.country }}
# Latitude
SITE_LAT = {{ site.latitude }}
# Longitude
SITE_LONG = {{ site.longitude }}
# Contact e-mail
SITE_EMAIL = {{ site.email }} 
# Security email
SITE_SECURITY_EMAIL = {{ site.security_email }}
# User support email
SITE_SUPPORT_EMAIL = {{ site.support_email }}
# Other info
OTHERINFO = {{ site.otherinfo }}