BDII_LOG_FILE={{ bdii.core.log_file }}
BDII_PID_FILE={{ bdii.core.pid_file }}
BDII_LOG_LEVEL={{ bdii.core.log_level }}
BDII_LDIF_DIR={{ bdii.core.ldif_dir }}
BDII_PROVIDER_DIR={{ bdii.core.providers_dir }}
BDII_PLUGIN_DIR={{ bdii.core.plugin_dir }}
BDII_PORT={{ bdii.core.port }}
BDII_BREATHE_TIME={{ bdii.core.breathe_time }}
BDII_READ_TIMEOUT={{ bdii.core.read_timeout }}
BDII_ARCHIVE_SIZE={{ bdii.core.archive_size }}
BDII_DELETE_DELAY={{ bdii.core.delete_delay }}
BDII_USER={{ bdii_user.name }}
BDII_VAR_DIR={{ bdii_user.home }}
SLAPD_CONF={{ bdii_vars[bdii_type].slapd_config_file }}