SLAPD_CONF=/{{ bdii_vars[bdii_type]['slapd_config_file'] }}
SLAPD=/usr/sbin/slapd
BDII_RAM_DISK={{ bdii_vars[bdii_type]['ram_disk'] }}
BDII_IPV6_SUPPORT={{ bdii_vars[bdii_type]['ipv6'] }}
BDII_RAM_SIZE={{ bdii_vars[bdii_type]['ram_size'] }}
